
<header>
      <nav>
        <ul>
          <li class=”current”>
            <%= link_to customers_mypage_path do %>
              マイページ
            <% end %>
          </li>
          <li>
            <%= link_to items_path do %>
              商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to cart_items_path do %>
              カート
            <% end %>
          </li>
          <% if customer_signed_in? %>
            <li>
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
            </li>
            <% else %>
            <li>
              <%= link_to "ログイン", new_customer_session_path %>
            </li>
            <% end %>
        </ul>
      </nav>

      <form class="search-container">
        <input type="text" id="search-bar" placeholder="Search">
          <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
      </form>

    </header>

    <main>
        <h4>会員情報編集</h4>
        <br>
        <br>
        <%= form_with model: @customer, url: customers_information_path do |f| %>

          <table style="writing-mode:vertical-lr;">
            <thead style="background-color:white;">
              <tr>
                <th style="writing-mode:horizontal-tb;font-weight:300;"><%= f.label :名前 %></th>
                <th style="writing-mode:horizontal-tb;font-weight:300;"><%= f.label :フリガナ %></th>
                <th style="writing-mode:horizontal-tb;font-weight:300;"><%= f.label :メールアドレス %></th>
                <th style="writing-mode:horizontal-tb;font-weight:300;"><%= f.label :郵便番号（ハイフンなし） %></th>
                <th style="writing-mode:horizontal-tb;font-weight:300;"><%= f.label :住所（ハイフンなし） %></th>
                <th style="writing-mode:horizontal-tb;font-weight:300;"><%= f.label :電話番号 %></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="writing-mode:horizontal-tb;">
                  <%= f.label :（姓） %>&emsp;
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder:"令和" %>
                  <%= f.label :（名） %>&emsp;
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder:"道子" %>
                </td>
                <td style="writing-mode:horizontal-tb;">
                  <%= f.label :（セイ） %>
                  <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder:"レイワ" %>
                  <%= f.label :（メイ） %>
                  <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder:"ミチコ" %>
                </td>
                <td style="writing-mode:horizontal-tb;">&emsp;&emsp;&emsp;&emsp;&nbsp;<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com" %></td>
                <td style="writing-mode:horizontal-tb;">&emsp;&emsp;&emsp;&emsp;&nbsp;<%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder:"0000000" %></td>
                <td style="writing-mode:horizontal-tb;">&emsp;&emsp;&emsp;&emsp;&nbsp;<%= f.text_field :address, autofocus: true, autocomplete: "address", style:"width:445px;", placeholder:"東京都渋谷区代々木神園0-0" %></td>
                <td style="writing-mode:horizontal-tb;">&emsp;&emsp;&emsp;&emsp;&nbsp;<%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", placeholder:"00000000000" %></td>
                <td>
                  <%= f.submit "変更内容を保存", class:'btn btn-outline-success', style:'width:185px;margin-left:-200px;margin-top:10px;' %>
                </td>
                <td style="writing-mode:horizontal-tb;">
                  <%= link_to "退会する" , customers_unsubscribe_path, class:'btn btn-outline-danger', style:'width:185px;margin-left:68px;' %>
                </td>
              </tr>
            </tbody>
          </table>

        <% end %>

        
        
    </main>

    <footer>

    </footer>