<header>
      <nav>
        <ul>
          <li class=”current”>
            <%= link_to admin_items_path do %>
              商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_customers_path do %>
              会員一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_path do %>
              注文履歴一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_genres_path do %>
              ジャンル一覧
            <% end %>
          </li>
          <% if admin_signed_in? %>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
            <% else %>
            <li>
              <%= link_to "ログイン", new_admin_session_path %>
            </li>
            <% end %>
        </ul>
      </nav>

      <form class="search-container">
        <input type="text" id="search-bar" placeholder="Search">
          <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
      </form>

    </header>

    <main>
      <h4>会員一覧</h4>

      <table class="table table-hover table-inverse", style="width:1000px;">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th></th>
              <th>メールアドレス</th>
              <th></th>
              <th></th>
              <th></th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
          <% @customers.each do |customers| %>
            <tr>
              <td><%= customers.id %></td>
              <td>
                <%= link_to admin_customer_path(customers.id) do %>
                  <%= customers.last_name %><%= customers.first_name %>
                <% end %>
              </td>
              <td></td>
              <td><%= customers.email %></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <% if customers.is_deleted == true %>
                  有効
                <% else %>
                  退会
                <% end %>
              </td>
            </tr>
          <% end %>


          </tbody>
         </table>
         <%= paginate @customers %>

    </main>
