<body>

    <header>
      <nav>
        <ul>
          <li class=”current”>
            <%= link_to admin_items_path do %>
              商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_customers_path do %>
              会員一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_path do %>
              注文履歴一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_genres_path do %>
              ジャンル一覧
            <% end %>
          </li>
          <% if admin_signed_in? %>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
            <% else %>
            <li>
              <%= link_to "ログイン", new_admin_session_path %>
            </li>
            <% end %>
        </ul>
      </nav>

      <form class="search-container">
        <input type="text" id="search-bar" placeholder="Search">
          <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
      </form>

    </header>

    <main>
        <div class="container">
         <div class="row">
         <div class="col-lg-8">

      <h4>注文履歴詳細</h4>
      

      <table style="-ms-writing-mode:tb-lr;writing-mode:vertical-lr;">
          <thead>
            <tr>
              <th style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;background-color:white;">購入者</th>
              <th style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;background-color:white;">注文日</th>
              <th style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;background-color:white;">配送先</th>
              <th style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;background-color:white;">支払方法</th>
              <th style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;background-color:white;">注文ステータス</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;"><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
              <td style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
              <td style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;">〒<%= @order.postal_code %>&emsp;<%= @order.address %>&emsp;<%= @order.name %></td>
              <td style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;">
                  <% if @order.payment_method == 'credit_card' %>
                      <p>クレジットカード</p>
                  <% end %>
                  <% if @order.payment_method == 'transfer' %>
                      <p>銀行振込</p>
                  <% end %>
              </td>
              <td style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;">
              <%= form_with model:@order, url:admin_order_path(@order.id), method: :patch do |f| %>

                <%= f.select :order_status, Order.order_statuses_i18n.invert %>
                <%= f.submit '更新', class:'btn btn-outline-success' %>
              <% end %>

              </td>
            </tr>
          </tbody>
         </table>
         
         <table class="table table-hover table-inverse", style="width:650px;">
            <thead>
               <tr>
                  <th style="width:200px;">商品名</th>
                  <th style="width:100px;">単価<br>（税込）</th>
                  <th style="width:50px;">数量</th>
                  <th style="width:100px;">小計</th>
                  <th style="width:200px;">製作ステータス</th>
               </tr>
            </thead>
            <tbody>
              <% @order_items.each do |order_item| %>
              <tr>
                <td style="width:200px;"><%= order_item.item.name %></td>
                <td style="width:100px;"><%= order_item.item.with_tax_price %></td>
                <td style="width:70px;"><%= order_item.amount %></td>
                <td style="width:100px;"><%= order_item.item.with_tax_price * order_item.amount %></td>
                <td style="width:150px;">
                  <%= form_with model:@order_items, url:admin_order_path(order_item.id), method: :patch do |f| %>
                    <%= f.select :made_status, OrderItem.made_statuses_i18n.invert %>
                    <%= f.submit '更新', class:'btn btn-outline-success', style:'margin-top:5px;' %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          </div>
          
          <div class="col-lg-4", style="margin-top:150px;margin-left:-20px;">
            <table style="-ms-writing-mode:tb-lr;writing-mode:vertical-lr;">
              <thead>
                <tr>
                  <th style="background-color:white;-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;">商品合計</th>
                  <th style="background-color:white;-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;">送料</th>
                  <th style="background-color:white;-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;">請求金額合計</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;">&emsp;<%= @order.total_price - @order.postage %></td>
                  <td style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;">&emsp;<%= @order.postage %></td>
                  <td style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;">&emsp;<%= @order.total_price %></td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
    </div>
    </main>

  </body>
