
<body>

    <header>
      <nav>
        <ul>
          <li class=”current”>
            <%= link_to admin_items_path do %>
              商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_customers_path do %>
              会員一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_path do %>
              注文履歴一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_genres_path do %>
              ジャンル一覧
            <% end %>
          </li>
          <% if admin_signed_in? %>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
            <% else %>
            <li>
              <%= link_to "ログイン", new_admin_session_path %>
            </li>
            <% end %>
        </ul>
      </nav>

      <form class="search-container">
        <input type="text" id="search-bar" placeholder="Search">
          <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
      </form>

    </header>

    <main>
      <h4>注文履歴一覧</h4>

      <table class="table table-hover table-inverse", style="width:1000px;">
          <thead>
            <tr>
              <th>購入日時</th>
              <th></th>
              <th>購入者</th>
              <th></th>
              <th>注文個数</th>
              <th></th>
              <th>注文ステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @orders.each do |orders| %>
            <tr>
              <td><%= link_to orders.created_at.strftime('%Y/%m/%d'), admin_order_path(orders.id) %></td>
              <td></td>
              <td><%= orders.customer.last_name %><%= orders.customer.first_name %></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          <% end %>


          </tbody>
         </table>
         <%= paginate @orders %>

    </main>

    <footer>

    </footer>

  </body>
