<header>
      <nav>
        <ul>
          <li class=”current”>
            <%= link_to customers_mypage_path do %>
              マイページ
            <% end %>
          </li>
          <li>
            <%= link_to items_path do %>
              商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to cart_items_path do %>
              カート
            <% end %>
          </li>
          <% if customer_signed_in? %>
            <li>
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
            </li>
            <% else %>
            <li>
              <%= link_to "ログイン", new_customer_session_path %>
            </li>
            <% end %>
        </ul>
      </nav>

      <form class="search-container">
        <input type="text" id="search-bar" placeholder="Search">
          <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
      </form>

    </header>

    <main>

      <h4>配送先編集</h4>

      <%= form_with model:@address, url:address_path(@address.id), method: :patch do |f| %>
        <p>郵便番号（ハイフンなし）</p>
        <%= f.text_field :postal_code %>
        <p style="margin-top:10px;">住所</p>
        <%= f.text_field :address %>
        <p style="margin-top:10px;">宛名</p>
        <%= f.text_field :name %>
        
        <%= f.submit '変更を保存' ,class:'btn btn-outline-success' %>

      <% end %>


    </main>
